<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Choose key</title>
  </head>
  <body>
    {% block content %}
	  <form method="post" action="proceed_next" enctype="multipart/form-data">
	    {% csrf_token %}
	    Choose your key for table [{{table_name}}] here:
		<input type="text" name="tableName" hidden value="{{table_name}}">
	    <br>
	    {% for primaryKeyOption in primaryKeyOptions %}
		    {{ day }}
		    <input type="radio" name="primaryKeyOption" value="{{forloop.counter0}}"> {{primaryKeyOption}}<br>
		{% endfor %}
	    <br>
	    <button type="submit">Next</button>
	  </form>

	  {% if uploaded_file_content %}
	    <p>Below is uploaded file content:</p>
	    <textarea disabled="disabled" style="width: 100%; height: 500px">{{uploaded_file_content}}</textarea>
	  {% endif %}

	  <p><a href="{% url 'home' %}">Return to home</a></p>
	{% endblock %}
  </body>
</html>
