{% extends "base.html" %}
{% load staticfiles%}

{% block title %}XML File Upload{% endblock %}

{% block content %}
 
<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3 class="text-center" style="color:#717171;"><strong>Upload a local file in XML Format</strong></h3>
    </div>
  </div>
  <div class="row" style="width: 100px; margin: 20px auto 0 auto;">
      <form method="post" action="/hello/upload" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row" style="width: 100px; margin: 20px auto 0 auto;">
        	<input type="file" name="er_file">
        </div> 
        <div class="row" style="width: 100px; margin: 20px auto 0 auto;">
        	<button type="submit" class="btn btn-lg btn-default">Upload</button>
        </div>
      </form>
  </div>  
{% if uploaded_file_error %}
<div class="alert alert-danger" align="center">
  Error occurs: {{uploaded_file_error}}
</div>
{% endif %}


{% endblock %}
