{% extends "base.html" %}
{% load staticfiles%}

{% block title %}User Manual{% endblock %}

{% block content %}
<div class="panel panel-default" style="margin: 20px 50px auto 50px;">
<div class="container-fluid" style="margin: 20px 20px auto 20px;">
<article class="markdown-body entry-content" itemprop="text"><h2><a id="user-content-cs4221-term-project" class="anchor" aria-hidden="true"></a>
User Manual</h2>
<br>
<h3><a id="user-content-feature-summary" class="anchor" aria-hidden="true"></a>What are the precedures to follow?</h3>
<ul>
<li style="margin: 15px 0 0 0;">First, click "Upload File" on the navigation bar.</li>
<img src="{% static 'hello/user_manual_1.jpg' %}" alt="user_manual_1" style="margin: 10px auto 10px auto;">
<li style="margin: 15px 0 0 0;">Second, click "Browse" to upload your ER-Diagram from your local file. 
    Make sure it is in XML format. Then click "Submit"</li>
<img src="{% static 'hello/user_manual_2.jpg' %}" alt="user_manual_2" style="margin: 10px auto 10px auto;">
<li style="margin: 15px 0 0 0;">Then, you can see your uploaded file in the textarea. Click "convert" to start conversion</li>
<img src="{% static 'hello/user_manual_3.png' %}" alt="user_manual_3" style="margin: 10px auto 10px auto; width:500px;">
<li style="margin: 15px 0 0 0;">If there is need to select a primary key, you will be prompted with the options.</li>
<img src="{% static 'hello/user_manual_4.png' %}" alt="user_manual_4" style="margin: 10px auto 10px auto; width:500px;">
<li style="margin: 15px 0 0 0;">You may also be prompted to decide on merging tables.</li>
<img src="{% static 'hello/user_manual_5.png' %}" alt="user_manual_5" style="margin: 10px auto 10px auto; width:500px;">
<li style="margin: 15px 0 0 0;">After these steps, your ER-Diagram will be converted to JSON format.</li>
<img src="{% static 'hello/user_manual_6.png' %}" alt="user_manual_6" style="margin: 10px auto 10px auto; width:500px;">
</ul>
<br>

</article>



</div>
</div>

{% endblock %}
